<div class="col-xs-12 col-lg-10 offset-lg-1 login-card">
  <div class="card">
    <h2 id="login-title">Créer un compte gratuitement</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    label: "Mot de passe",
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    label: "Confirmez votre Mot de passe",
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Confirmez", class: "btn btn-success btn-rounded btn-login" %>
      </div>
    <% end %>
    <div class="login-form-other-links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
