<div class="main-menu hidden">
  <div class="main-menu-container">
    <div class="main-menu-content">
      <div class="main-menu-login">
        <% if user_signed_in? %>
          <div class="main-menu-content-block main-menu-email">
            <%= current_user.email %>
          </div>
          <div class="main-menu-content-block main-menu-logout">
            <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %>
          </div>
        <% else %>
          <div class="main-menu-content-block main-menu-signin">
            <%= link_to "Se connecter", new_user_session_path %>
          </div>
          <div class="main-menu-content-block main-menu-signup">
            <%= link_to "Créer un compte", new_user_registration_path %>
          </div>
        <% end %>
          <div class="main-menu-content-block main-menu-contact">
            <%= mail_to "contact@rendementlocatif.online", "Contact" %>
          </div>
      </div>
    </div>
    <div class="main-menu-footer">
    </div>
  </div>
</div>
