<h1>Projects#index</h1>
<p>Find me in app/views/projects/index.html.erb</p>
<p> <%= link_to 'new', new_project_path, class: 'btn btn-primary' %> </p>
<% @projects.each do |project| %>
  <div class="card">
    <div id="project-card-name">Name:<%= project.name %></div>
    <div id="project-card-address"></div> Address:<%= project.address %>
    <div id="project-card-monthly-rent">Monthly Rent: <%= project.monthly_rent %>€</div>
    <div id="project-card-purchase-price">Purchase Price: <%= project.purchase_price %>€</div>
    <div id="project-card-extraworks">Extra Works: <%= project.extra_works %>€</div>
    <div id="project-card-rental-yield">Rental Yield: <%= project.rental_yield %>%</div>
    <i>
    <%= link_to "", project_path(project), method: :delete, data: {confirm: "Are you sure?"}, class: "far fa-trash-alt" %>
    </i>
    <i>
    <%= link_to "", edit_project_path(project), class: "far fa-edit" %>
    </i>
  </div>
<% end %>
