<div class="col-xs-12 col-lg-10 offset-lg-1 login-card">
  <h1 id="login-title">Tous mes projets</h2>
  <div> <%= link_to 'Nouveau Projet', new_project_path, class: 'btn btn-primary btn-rounded btn-navigation' %>
  </div>
  <% @projects.each do |project| %>
    <div class="card card-project col-md-12">
      <div class="project-card-name">Projet: <%= project.name %></div>
      <div class="project-card-address"></div> Adresse: <%= project.address %>
      <div class="project-card-monthly-rent">Loyer mensuel: <%= project.monthly_rent %>€</div>
      <div class="project-card-purchase-price">Prix d'achat: <%= project.purchase_price %>€</div>
      <div class="project-card-extraworks">Travaux: <%= project.extra_works %>€</div>
      <div id="project-card-rental-yield">Rendement: <%= project.rental_yield %>%</div>
      <div class="project-card-capital-gain-15">Gain en capital (après 15 ans): <%= project.capital_gain_15 %>€ (croissance annuelle de 3%)</div>
      <div class="project-card-project-return-15">Plus-value (après 15 ans): <%= project.project_return_15 %>x
        <div class="project-return-15-text">
          La valeur du bien est de l'ordre de <%= project.acquisition_value %>€ (prix d'achat + travaux). Le gain en capital sur 15 ans de <%= project.capital_gain_15 %>€ (croissance annuelle de 3%). La valeur initiale du projet <%= project.acquisition_full_price %>€ (15% de frais compris) dont on estime qu'un tier a du être mobilisé en cash (le reste emprunté). Donc les <%= project.acquisition_cash %>€ sont devenus <%= project.acquisition_value + project.capital_gain_15 %>€!
        </div>
      </div>
      <div class="card-all-edit-icon">
        <i>
        <%= link_to "", edit_project_path(project), class: "far fa-edit" %>
        </i>
      </div>
      <div class="card-all-delete-icon">
        <i>
        <%= link_to "", project_path(project), method: :delete, data: {confirm: "Are you sure?"}, class: "far fa-trash-alt" %>
        </i>
      </div>
    </div>
  <% end %>
</div>
