<div class="col-xs-12 col-lg-10 offset-lg-1 login-card">
  <h1 id="login-title">Tous mes projets</h2>
  <div> <%= link_to 'Nouveau Projet', new_project_path, class: 'btn btn-primary btn-rounded btn-navigation' %>
  </div>
  <% @projects.each do |project| %>
    <div class="card card-project col-md-12">
      <div id="project-card-name">Name: <%= project.name %></div>
      <div id="project-card-address"></div> Address: <%= project.address %>
      <div id="project-card-monthly-rent">Monthly Rent: <%= project.monthly_rent %>€</div>
      <div id="project-card-purchase-price">Purchase Price: <%= project.purchase_price %>€</div>
      <div id="project-card-extraworks">Extra Works: <%= project.extra_works %>€</div>
      <div id="project-card-rental-yield">Rental Yield: <%= project.rental_yield %>%</div>
      <div id="project-card-capital-gain-15">Capital Gain (after 15 years): <%= project.capital_gain_15 %>€ - (annual price growth of 3%)</div>
      <div id="project-card-project-return-15">Project Return (after 15 years): <%= project.project_return_15 %>%</div>
      <div class="card-all-edit-icon">
        <i>
        <%= link_to "", edit_project_path(project), class: "far fa-edit" %>
        </i>
      </div>
      <div class="card-all-delete-icon">
        <i>
        <%= link_to "", project_path(project), method: :delete, data: {confirm: "Are you sure?"}, class: "far fa-trash-alt" %>
        </i>
      </div>
    </div>
  <% end %>
</div>
