<div class="col-xs-12 col-lg-10 offset-lg-1 login-card">
  <h1 id="login-title">Tous mes projets</h2>
  <div> <%= link_to 'Nouveau Projet', new_project_path, class: 'btn btn-primary btn-rounded btn-navigation' %>
  </div>
  <% @projects.each do |project| %>
    <div class="card card-project col-md-12">

      <div class="project-card-name">
        <div class="project-card-name-content">
          Projet: <%= project.name %>
        </div>
      </div>

      <div class="project-card-address">
        <div class="project-card-address-content">
          <i class="fas fa-map-marker-alt"></i> Adresse: <%= project.address %>
        </div>
      </div>

      <div class="card-all-icons">
        <div class="card-all-icons-content-dots">
          <i class="fas fa-ellipsis-v"></i>
        </div>
        <div class="card-all-icons-content hidden">
          <div class="card-all-edit">
            <div class="card-all-edit-icon">
              <i>
              <%= link_to "", edit_project_path(project), class: "far fa-edit" %>
              </i>
            </div>
            <div class="card-all-edit-text">
              Editer
            </div>
          </div>
          <div class="card-all-delete">
            <div class="card-all-delete-icon">
              <i>
              <%= link_to "", project_path(project), method: :delete, data: {confirm: "Are you sure?"}, class: "far fa-trash-alt" %>
              </i>
            </div>
            <div class="card-all-delete-text">
              Supprimer
            </div>
          </div>
        </div>
      </div>

      <div class="project-card-data-title project-card-titles">
        <div class="project-card-data-title-content">
          <i class="fas fa-info project-card-icon"></i> Information du projet:
        </div>
      </div>

      <div class="project-card-data">
        <div class="project-card-contents">
          <div class="project-card-monthly-rent project-card-data-content">
            <div class="project-card-contents-label">
              Loyer mensuel:
            </div>
            <div class="project-card-contents-data">
              <%= project.monthly_rent %>€
            </div>
          </div>
          <div class="project-card-purchase-price project-card-data-content">
            <div class="project-card-contents-label">
              Prix d'achat:
            </div>
            <div class="project-card-contents-data">
              <%= project.purchase_price %>€
            </div>
          </div>
          <div class="project-card-extraworks project-card-data-content">
            <div class="project-card-contents-label">
              Travaux:
            </div>
            <div class="project-card-contents-data">
              <%= project.extra_works %>€
            </div>
          </div>
        </div>
      </div>

      <div class="project-card-rental-yield-title project-card-titles">
        <div class="project-card-rental-yield-title-content">
          <i class="fas fa-percentage project-card-icon"></i> Rendement:
        </div>
      </div>

      <div class="project-card-rental-yield">
        <div class="project-card-rental-yield-content project-card-contents">
          <%= project.rental_yield %>%
        </div>
      </div>

      <div class="project-card-capital-gain-15-title project-card-titles">
        <div class="project-card-capital-gain-15-title-content">
          <i class="fas fa-euro-sign project-card-icon"></i> Gain en capital (après 15 ans):
        </div>
      </div>

      <div class="project-card-capital-gain-15">
        <div class="project-card-capital-gain-15-content project-card-contents">
          <%= project.capital_gain_15 %>€ (+3%/an)
        </div>
      </div>

      <div class="project-card-project-return-15">
        <div class="project-return-15-text hidden">
            La valeur du bien est de l'ordre de <%= project.acquisition_value %>€ (prix d'achat + travaux). Le gain en capital sur 15 ans de <%= project.capital_gain_15 %>€ (croissance annuelle de 3%). La valeur initiale du projet <%= project.acquisition_full_price.round(0) %>€ (15% de frais compris) dont on estime qu'un tier a du être mobilisé en cash (le reste emprunté). Donc les <%= project.acquisition_cash.round(0) %>€ sont devenus <%= (project.acquisition_value + project.capital_gain_15).round(0) %>€!
        </div>
        <div class="project-card-capital-return-15-content project-card-contents">
          Plus-value (après 15 ans): <%= project.project_return_15 %>x <i class="far fa-question-circle project-card-tooltip-icon"></i>
        </div>
      </div>

    </div>
  <% end %>
</div>
<%= javascript_pack_tag 'project_cards' %>
